<div class="container">

    <!--Collapsible Admisiones-->
    <ul class="collapsible popout">

        <!--FORMULARIO ADMISIONES-->
        <li>
            <div class="collapsible-header">
                <i class="material-icons">bookmark</i>
                <h4>Formulario Admisiones</h4>
            </div>
            <div class="collapsible-body">

                <!--tabla de Descargar-->
               <ul>
                <div class="card">
                    <div class="card-tabs">
                        <ul class="tabs tabs-fixed-width">
                          <li class="tab"><a class="active" href="#semestres-tec">Descargar</a></li>
                        </ul>
                      </div>
                      <div class="card-content grey lighten-4">
                        <div id="semestres-tec">
                            <blockquote>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit impedit 
                                inventore cupiditate placeat laudantium, et explicabo amet est illum officiis totam rem 
                                non! Dolore maiores qui repellendus, commodi ut, aut perferendis suscipit modi sequi earum 
                                et debitis, illo omnis itaque.
                              </blockquote>

                            <a href="../pdfs/reporte2-05-10.pdf" download="Reporte2Mayo2010">
                            Descargar Archivo
                            </a> 
                        </div>
                        
                      </div>
                  </div>
                </ul>
            </div>
        </li>

        <!--CRÉDITOS-->
        <li>
            <div class="collapsible-header">
                <i class="material-icons">bookmark_border</i>
                <h4>Créditos</h4>
            </div>
            <div class="collapsible-body">

                 <!--TABLA CREDITOS-->
               <ul>
                <div class="card">
                    <div class="card-content">
                     <h5>Nombre</h5>
                      <blockquote>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit impedit 
                          inventore cupiditate placeat laudantium, et explicabo amet est illum officiis totam rem 
                          non! Dolore maiores qui repellendus, commodi ut, aut perferendis suscipit modi sequi earum 
                          et debitis, illo omnis itaque.
                        </blockquote>
                    </div>
                </div>
                </ul>
            </div>
        </li>

        <!--FACILIDADES DE PAGO-->
        <li>
            <div class="collapsible-header">
                <i class="material-icons">border_color</i>
                <h4>Facilidades de pago</h4>
            </div>
            <div class="collapsible-body">

                 <!--TABLA FACILIDADES DE PAGO-->
               <div class="card">
                    <div class="card-content">
                     <h5>Nombre</h5>
                      <blockquote>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit impedit 
                          inventore cupiditate placeat laudantium, et explicabo amet est illum officiis totam rem 
                          non! Dolore maiores qui repellendus, commodi ut, aut perferendis suscipit modi sequi earum 
                          et debitis, illo omnis itaque.
                        </blockquote>
                    </div>
               </div>
            </div>
        </li>

         <!--DESCUENTOS-->
         <li>
            <div class="collapsible-header">
                <i class="material-icons">border_color</i>
                <h4>Descuentos</h4>
            </div>
            <div class="collapsible-body">

                 <!--TABLA DESCUENTOS-->
               <div class="card">
                    <div class="card-content">
                     <h5>Nombre</h5>
                      <blockquote>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit impedit 
                          inventore cupiditate placeat laudantium, et explicabo amet est illum officiis totam rem 
                          non! Dolore maiores qui repellendus, commodi ut, aut perferendis suscipit modi sequi earum 
                          et debitis, illo omnis itaque.
                        </blockquote>
                    </div>
               </div>
            </div>
        </li>
         <!--REQUISITOS-->
         <li>
            <div class="collapsible-header">
                <i class="material-icons">border_color</i>
                <h4>Requisitos</h4>
            </div>
            <div class="collapsible-body">

                 <!--TABLA REQUISITOS-->
               <div class="card">
                    <div class="card-content">
                     <h5>Nombre</h5>
                      <blockquote>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit impedit 
                          inventore cupiditate placeat laudantium, et explicabo amet est illum officiis totam rem 
                          non! Dolore maiores qui repellendus, commodi ut, aut perferendis suscipit modi sequi earum 
                          et debitis, illo omnis itaque.
                        </blockquote>
                    </div>
               </div>
            </div>
        </li>
       
    </ul>
</div>