<div class="container">
    <!--Collapsible oferta académica-->
    <ul class="collapsible popout">

        <!--BACHILLERATO-->
        <li>
            <div class="collapsible-header">
                <i class="material-icons">beenhere</i>
                <h3 style="color: #140ba4;"><b>Bachillerato</b></h3>
            </div>
            <div class="collapsible-body" id="card" *ngFor="let b of academico.datosB">
                <div id="card">
                <h5>{{b.nombre}}</h5>
                <blockquote>{{b.descripcion}}</blockquote>
                </div>
            </div>
        </li>

        <!--DIPLOMADOS-->
        <li>
            <div class="collapsible-header">
                <i class="material-icons">note_add</i>
                <h3 style="color: #140ba4;"><b>Diplomados</b></h3>
            </div>
            <div class="collapsible-body" >

                  <!--TABLA DIPLOMADOS-->
               <ul *ngFor="let d of academico.datosD">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" [src]="d.plan">
                      </div>
                      <div class="card-content">
                          <div id="card">
                        <span class="card-title activator">{{d.nombre}}
                            <i class="material-icons right">more_vert</i></span>
                        </div>
                      </div>
                      <div class="card-reveal" id="card">
                        <div id="card">
                        <span class="card-title">{{d.nombre}}
                            <i class="material-icons right">close</i></span>
                        <blockquote>{{d.info}}</blockquote>
                        <br> <span>Tiene un valor de: ${{d.costo}} COP</span> 
                        </div>
                      </div>
                </div>
                </ul>
            </div>
        </li>

        <!--CURSOS-->
        <li>
            <div class="collapsible-header">
                <i class="material-icons">bookmark_border</i>
                <h3 style="color: #140ba4;"><b>Cursos</b></h3>
            </div>
            <div class="collapsible-body">

                 <!--TABLA CURSOS-->
               <ul>
                <ul *ngFor="let d of academico.datosC">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" [src]="d.plan">
                          </div>
                          <div class="card-content">
                            <span class="card-title activator">{{d.nombre}}
                                <i class="material-icons right">more_vert</i></span>
                          </div>
                          <div class="card-reveal" id="card">
                            <div id="card">
                            <span class="card-title">{{d.nombre}}
                                <i class="material-icons right">close</i></span>
                            <blockquote>{{d.info}}</blockquote>
                            <br> <span>Tiene un valor de: ${{d.costo}} COP</span> 
                            </div>
                          </div>
                    </div>
                    </ul>
                </ul>
            </div>
        </li>

        <!--SEMINARIOS-->
        <li>
            <div class="collapsible-header">
                <i class="material-icons">border_color</i>
                <h3 style="color: #140ba4;"><b>Seminarios</b></h3>
            </div>
            <div class="collapsible-body">

                 <!--TABLA SEMINARIOS-->
               <ul>
                <ul *ngFor="let d of academico.datosS">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" [src]="d.plan">
                          </div>
                          <div class="card-content">
                            <span class="card-title activator ">{{d.nombre}}
                                <i class="material-icons right">more_vert</i></span>
                          </div>
                          <div class="card-reveal" id="card">
                            <div id="card">
                            <span class="card-title">{{d.nombre}}
                                <i class="material-icons right">close</i></span>
                            <blockquote>{{d.info}}</blockquote>
                            <br> <span>Tiene un valor de: ${{d.costo}} COP</span> 
                            </div>
                          </div>
                    </div>
                    </ul>
                </ul>
            </div>
        </li>


        <!--CONVENIOS-->
        <li>
            <div class="collapsible-header">
                <i class="material-icons">book</i>
                <h3 style="color: #140ba4;"><b>Convenios</b></h3>
            </div>
            <div class="collapsible-body">
                <ul class="collapsible">

                    <!--PREGRADOS-->
                    <li>
                        <div class="collapsible-header">
                            <i class="material-icons">beenhere</i>
                            <h4>Pregrados</h4>
                        </div>
                        <div class="collapsible-body" id="card">

                            <!--COLLECTION PREGRADOS-->
                            <ul class="collection">
                                <li class="collection-item avatar" id="card" *ngFor="let pre of academico.datosPre">
                                    <div id="card">
                                    <h5>{{pre.nombre}}</h5>
                                    <blockquote>{{pre.info}}</blockquote>
                                    <h6>{{pre.universidad}}</h6>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <!--POSGRADOS-->
                    <li>
                        <div class="collapsible-header">
                            <i class="material-icons">beenhere</i>
                            <h4>Posgrados</h4>
                        </div>
                        <div class="collapsible-body" id="card">

                            <!--COLLECTIONS POSGRADOS-->
                            <ul class="collection">
                                <li class="collection-item avatar" id="card" *ngFor="let pos of academico.datosPos">
                                    <div id="card">
                                    <h5>{{pos.nombre}}</h5>
                                    <blockquote>{{pos.info}}</blockquote>
                                    <h6>{{pos.universidad}}</h6>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </li>


        <!--TÉCNICOS-->
        <li>
            <div class="collapsible-header">
                <i class="material-icons">bookmark</i>
                <h3 style="color: #140ba4;"><b>Técnicos</b></h3>
            </div>
            <div class="collapsible-body">

                <!--tabla de técnicos-->
               <ul>
                <ul *ngFor="let d of academico.datosTec">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" [src]="d.plan">
                          </div>
                          <div class="card-content">
                            <span class="card-title activator">{{d.nombre}}
                                <i class="material-icons right">more_vert</i></span>
                          </div>
                          <div class="card-reveal" id="card">
                            <div id="card">
                            <span class="card-title">{{d.nombre}}
                                <i class="material-icons right">close</i></span>
                            <blockquote>{{d.info}}</blockquote>
                            <br> <span>Tiene un valor de: ${{d.costo}} COP</span> 
                            </div>
                          </div>
                    </div>
                    </ul>
                </ul>
            </div>
        </li>
    </ul>
</div>
