.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
h3{
    font-size: 200%;
}
.card{
    background-color: #9cdaef;
}
#card{
        background-color: #9cdaef;
}
blockquote{
    background-color: #9cdaef;
}