<div class="container">

    <!--Collapsible oferta académica-->
    <ul class="collapsible popout">

        <!--BACHILLERATO-->
        <li class="active">
            <div class="collapsible-header">
                <i class="material-icons">beenhere</i>
                <h3>Bachillerato</h3>
            </div>
            <div class="collapsible-body">
                <h5>Nombre</h5>
                <blockquote>Lorem ipsum dolor sit amet consectetur.</blockquote>
            </div>
        </li>

        <!--TÉCNICOS-->
        <li>
            <div class="collapsible-header">
                <i class="material-icons">bookmark</i>
                <h3>Técnicos</h3>
            </div>
            <div class="collapsible-body">

                <!--tabla de técnicos-->
               <ul>
                <div class="card">
                    <div class="card-content">
                     <h5>Nombre</h5>
                      <blockquote>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit impedit 
                          inventore cupiditate placeat laudantium, et explicabo amet est illum officiis totam rem 
                          non! Dolore maiores qui repellendus, commodi ut, aut perferendis suscipit modi sequi earum 
                          et debitis, illo omnis itaque.
                        </blockquote>
                    </div>
                    <div class="card-tabs">
                        <ul class="tabs tabs-fixed-width">
                          <li class="tab"><a class="active" href="#semestres-tec">Semestres</a></li>
                          <li class="tab"><a  href="#plan-tec">Curriculo</a></li>
                          <li class="tab"><a href="#costo-tec">Costo</a></li>
                        </ul>
                      </div>
                      <div class="card-content grey lighten-4">
                        <div id="semestres-tec">3 Semestres</div>
                        <div id="plan-tec"><img class="responsive-img center" 
                            src="../../../assets/img/plan.jpg" alt="Plan">
                        </div>
                        <div id="costo-tec">$ 1500000</div>
                      </div>
                  </div>
                </ul>
            </div>
        </li>

        <!--CURSOS-->
        <li>
            <div class="collapsible-header">
                <i class="material-icons">bookmark_border</i>
                <h3>Cursos</h3>
            </div>
            <div class="collapsible-body">

                 <!--TABLA CURSOS-->
               <ul>
                <div class="card">
                    <div class="card-content">
                     <h5>Nombre</h5>
                    </div>
                    <div class="card-tabs">
                        <ul class="tabs tabs-fixed-width">
                          <li class="tab"><a class="active" href="#info-cur">Información</a></li>
                          <li class="tab"><a  href="#plan-cur">Curriculo</a></li>
                          <li class="tab"><a href="#costo-cur">Costo</a></li>
                        </ul>
                      </div>
                      <div class="card-content grey lighten-4">
                        <div id="info-cur"><blockquote>Lorem ipsum dolor sit amet.</blockquote></div>
                        <div id="plan-cur"><img class="responsive-img center" 
                            src="../../../assets/img/plan.jpg" alt="Plan">
                        </div>
                        <div id="costo-cur">$ 300000</div>
                      </div>
                  </div>
                </ul>
            </div>
        </li>

        <!--SEMINARIOS-->
        <li>
            <div class="collapsible-header">
                <i class="material-icons">border_color</i>
                <h3>Seminarios</h3>
            </div>
            <div class="collapsible-body">

                 <!--TABLA SEMINARIOS-->
               <ul>
                <div class="card">
                    <div class="card-content">
                     <h5>Nombre</h5>
                    </div>
                    <div class="card-tabs">
                        <ul class="tabs tabs-fixed-width">
                          <li class="tab"><a class="active" href="#info-sem">Información</a></li>
                          <li class="tab"><a  href="#plan-sem">Curriculo</a></li>
                          <li class="tab"><a href="#costo-sem">Costo</a></li>
                        </ul>
                      </div>
                      <div class="card-content grey lighten-4">
                        <div id="info-sem"><blockquote>Lorem ipsum dolor sit amet.</blockquote></div>
                        <div id="plan-sem"><img class="responsive-img center" 
                            src="../../../assets/img/plan.jpg" alt="Plan">
                        </div>
                        <div id="costo-sem">$ 300000</div>
                      </div>
                  </div>
                </ul>
            </div>
        </li>

        <!--DIPLOMADOS-->
        <li>
            <div class="collapsible-header">
                <i class="material-icons">note_add</i>
                <h3>Diplomados</h3>
            </div>
            <div class="collapsible-body">

                  <!--TABLA DIPLOMADOS-->
               <ul>
                <div class="card">
                    <div class="card-content">
                     <h5>Nombre</h5>
                    </div>
                    <div class="card-tabs">
                        <ul class="tabs tabs-fixed-width">
                          <li class="tab"><a class="active" href="#info-dip">Información</a></li>
                          <li class="tab"><a  href="#plan-dip">Curriculo</a></li>
                          <li class="tab"><a href="#costo-dip">Costo</a></li>
                        </ul>
                      </div>
                      <div class="card-content grey lighten-4">
                        <div id="info-dip"><blockquote>Lorem ipsum dolor sit amet.</blockquote></div>
                        <div id="plan-dip"><img class="responsive-img center" 
                            src="../../../assets/img/plan.jpg" alt="Plan">
                        </div>
                        <div id="costo-dip">$ 300000</div>
                      </div>
                  </div>
                </ul>
            </div>
        </li>

        <!--CONVENIOS-->
        <li>
            <div class="collapsible-header">
                <i class="material-icons">book</i>
                <h3>Convenios</h3>
            </div>
            <div class="collapsible-body">
                <ul class="collapsible">

                    <!--PREGRADOS-->
                    <li>
                        <div class="collapsible-header">
                            <i class="material-icons">beenhere</i>
                            <h4>Pregrados</h4>
                        </div>
                        <div class="collapsible-body">

                            <!--COLLECTION PREGRADOS-->
                            <ul class="collection">
                                <li class="collection-item avatar">
                                    <h5>Nombre</h5>
                                    <blockquote>Lorem ipsum dolor sit amet.</blockquote>
                                    <h6>Universidad</h6>
                                </li>
                                <li class="collection-item avatar">
                                    <h5>Nombre</h5>
                                    <blockquote>Lorem ipsum dolor sit amet.</blockquote>
                                    <h6>Universidad</h6>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <!--POSGRADOS-->
                    <li>
                        <div class="collapsible-header">
                            <i class="material-icons">beenhere</i>
                            <h4>Posgrados</h4>
                        </div>
                        <div class="collapsible-body">

                            <!--COLLECTIONS POSGRADOS-->
                            <ul class="collection">
                                <li class="collection-item avatar">
                                    <h5>Nombre</h5>
                                    <blockquote>Lorem ipsum dolor sit amet.</blockquote>
                                    <h6>Universidad</h6>
                                </li>
                                <li class="collection-item avatar">
                                    <h5>Nombre</h5>
                                    <blockquote>Lorem ipsum dolor sit amet.</blockquote>
                                    <h6>Universidad</h6>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>
