#para{
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
svg path,
svg rect{
    fill: #fe742c;
}
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
    background-attachment: fixed;
}
 
.texto-encima{
    position: absolute;
    top: 1%;
    left: 1%;
}

/*CSS CAROUSEL*/
.slick-slider {
    width: 100%;
    height: 100%;
    margin: 0;
    
}
.prevarrow{
    background-image: url(../../../assets/img/espalda.png);
}

#imgB{
    background-image: url(../../../assets/img/imgMesa.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    margin-top: 0;

}
.btnVer{
    color: #33ff66;
}
.iconA{
    color: #140ba4;
}
.iconN{
    color: #fe742c;
}
.noti{
    background-color: #9cdaef;
}
.btn{
    background-color: #33ff66;
    color: #000000;
}



