imgPro{
    height: 250px;
    width: 250px;
}
#para{
 background-attachment: fixed;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
svg path,
svg rect{
    fill: black;
}
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
    background-attachment: fixed;
}
 
.texto-encima{
    position: absolute;
    top: 1%;
    left: 1%;
}

/*CSS CAROUSEL*/
.slick-slider {
    width: 100%;
    height: 90%;
    margin: auto;
    background: #fff;
}
.prevarrow{
    background-image: url(../../../assets/img/espalda.png);
}
.imgB{
    background-image: url(../../../assets/img/imgMesa.png);
}
.btnVer{
    color: #33ff66;
}
.iconA{
    color: #140ba4;
}
.iconN{
    color: #fe742c;
}
.noti{
    background-color: #bebeea;
}
.btn{
    background-color: #33ff66;
}
