<div class="container">
    <!--Section sedes-->
    <div class="row">

        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <img src="assets/img/plan.jpg">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            
          </div>
        </div>
        <div class="col s12 m6">
            <div class="card">
              <div class="card-image">
                <img src="assets/img/plan.jpg">
                <span class="card-title">Card Title</span>
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
              </div>
              
            </div>
          </div>

    </div>
    <!--Section Contact Form-->

    <div class="container">
        <div class="section">
            <div class="row">
                <div class="title">
                    <span aling="center"><h4><b>CONTACTANOS</b></h4></span><br>
                </div>
                <div class="col s12">
                    <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">account_circle</i>
                        <input type="text" id="nombre-inicio" class="autocomplete" required autofocus>
                        <label for="nombre-inicio">Nombre</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">check_box</i>
                        <select required id="programa-inicio">
                            <optgroup label="team 1">
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            </optgroup>
                            <optgroup label="team 2">
                            <option value="3">Option 3</option>
                            <option value="4">Option 4</option>
                            </optgroup>
                        </select>
                        <label>Programa de interes</label>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">email</i>
                    <input type="email" id="email-inicio" class="autocomplete" required>
                    <label for="email-inicio">Email</label>
                </div>
                <div class="input-field col s6">
                <i class="material-icons prefix">textsms</i>
                <textarea id="mensaje-inicio" class="materialize-textarea" data-length="250" required ></textarea>
                <label for="mensaje-inicio">Mensaje</label>
                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">phone_android</i>
                    <input type="tel" class="autocomplete" id="celular-inicio" required>
                    <label for="celular-inicio">Celular</label>
                </div>
                <div class="col s5">
                    <p class="right-align">
                        <a id="correo-inicio" class="waves-effect waves-light btn tooltipped" type="submit"
                        data-position="left" data-tooltip="Enviar vía Email">
                            <i class="material-icons right">email</i>
                            enviar
                        </a>
                    </p>
                </div>
                <div class="col s5">
                    <p class="right-align">
                        <a id="wh-inicio" class="waves-effect waves-light btn tooltipped" data-position="bottom" 
                        data-tooltip="Enviar vía WhatsApp" type="submit">
                            <i class="material-icons right"><img src="../../../assets/img/wh.png" alt="Wh"></i>
                            enviar
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>
      
                
</div>
