<div id="imgB">
<div class="container">
    <!--Section sedes-->
    <div class="row" >
        <div class="col s12 m6 c" *ngFor="let c of urlContactos.urls">
            <div class="card c">
              <div class="card-content">
                  <blockquote>{{c.info}}</blockquote>
                <p>{{c.direccion}} <br> {{c.correo}} <br> {{c.tel}}</p>
              </div>
              
            </div>
          </div>
    </div>
</div>

<!--Section Contact Form-->
<form action="" id="formulario-contactos">
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="title">
                    <span aling="center"><h4 class="n">
                        <b>CONTACTANOS</b></h4></span><br>
                </div>
                <div class="col s12">
                    <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix n">account_circle</i>
                        <input type="text" id="nombre-con" class="autocomplete" required autofocus>
                        <label for="nombre-con">Nombre</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix n">school</i>
                        <input type="text" id="programa-con" class="autocomplete" required autofocus>
                        <label for="programa-con">Programa de Interes</label>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix n">email</i>
                    <input type="email" id="email-con" class="autocomplete" required>
                    <label for="email-con">Email</label>
                </div>
                <div class="input-field col s6">
                <i class="material-icons prefix n">textsms</i>
                <textarea id="mensaje-con" class="materialize-textarea" 
                data-length="250" required ></textarea>
                <label for="mensaje-con">Mensaje</label>
                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix n">phone_android</i>
                    <input type="tel" class="autocomplete" id="celular-con" required>
                    <label for="celular-con">Celular</label>
                </div>
                <div class="col s6">
                    <p class="right-align">
                        <a id="wh-con" class="waves-effect waves-light btn tooltipped btnV" data-position="bottom" 
                        data-tooltip="Enviar vía WhatsApp" type="submit">
                            <i class="material-icons right"><img src="../../../assets/img/wh.png" alt="Wh"></i>
                            enviar
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>
</form>
</div>


