h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }
   
#street-view {
  height: 500px;
}
   
.grdp {
  text-align: center;
  border: 6px #dedddd solid;
  text-align: justify;
}
   
.bcgrdp {
  cursor: pointer;
}
.alert{
  background-color: #dedddd;
  
}
div.alert.alert-warning.grdp{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 32px;
  border-radius: 8px;
  transition: 400ms;
}
svg path,
svg rect{
    fill: black;
}