h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }
   
#street-view {
  height: 500px;
}
   
.grdp {
  position: absolute;
  top: 50%;
  left: 40px;
  width: 65%;
  z-index: 100000;
  border: 6px #dedddd solid;
  text-align: justify;
}
   
.bcgrdp {
  cursor: pointer;
}
.alert{
  background-color: #dedddd;
  
}