<nav class="" role="navigation" id="backAzul">
    <div class="nav-wrapper container"> 
         
        <!--Navegador escritorio-->
        <ul class="tabs-center right hide-on-med-and-down" id="navEscritorio">
            <li routerLinkActive="active">
                <a routerLink="home" class="waves-effect waves-light btn-fla">
                <i class="material-icons left icon-na">flag</i>Inicio</a>
            </li> 
            <li routerLinkActive="active">
                <a routerLink="el-polisurco" class="waves-effect waves-light btn-fla">
                <i class="material-icons left icon-na">business</i>Polisurco</a>
            </li> 
            <li routerLinkActive="active">
                <a routerLink="oferta-academica" class="waves-effect waves-light btn-fla">
                <i class="material-icons left icon-na">school</i>Oferta Académica</a>
            </li> 
            <li routerLinkActive="active">
                <a routerLink="admisiones" class="waves-effect waves-light btn-fla">
                <i class="material-icons left icon-na">assignment</i>Admisiones</a>
            </li> 
            <li routerLinkActive="active">
                <a routerLink="contactanos" class="waves-effect waves-light btn-fla">
                <i class="material-icons left icon-na">contacts</i>Contactos</a>
            </li> 
         </ul>

          <!--NAVEGADOR MOVIL-->
          <ul id="nav-mobile" class="sidenav navMov">
            <li>
                <a routerLink="home"id="logo-container" class="sidenav-close waves-effect" >
                <img src="../../../assets/img/logo-60x60.png" alt="Logo" id="logoMov">
                </a>
            </li> 
                <li routerLinkActive="active">
                    <a routerLink="home" class="waves-effect waves-light btn-fla sidenav-close t">
                    <i class="material-icons left icon-na" style="color: #fe742c;">flag</i>Inicio</a>
                </li> 
                <li routerLinkActive="active">
                    <a routerLink="el-polisurco" class="waves-effect waves-light btn-fla sidenav-close t">
                    <i class="material-icons left icon-na" style="color: #fe742c;">business</i>Polisurco</a>
                </li> 
                <li routerLinkActive="active">
                    <a routerLink="oferta-academica" class="waves-effect waves-light btn-fla sidenav-close t">
                    <i class="material-icons left icon-na" style="color: #fe742c;">school</i>Oferta Académica</a>
                </li> 
                <li routerLinkActive="active">
                    <a routerLink="admisiones" class="waves-effect waves-light btn-fla sidenav-close t">
                    <i class="material-icons left icon-na" style="color: #fe742c;">assignment</i>Admisiones</a>
                </li> 
                <li routerLinkActive="active">
                    <a routerLink="contactanos" class="waves-effect waves-light btn-fla sidenav-close t">
                    <i class="material-icons left icon-na" style="color: #fe742c;">contacts</i>Contactos</a>
                </li> 
           </ul>
           <a href="#" data-target="nav-mobile" class="sidenav-trigger">
               <i class="large material-icons icon-na">widgets</i></a>
    </div>
</nav>
