<nav class="" role="navigation">
    <div class="nav-wrapper container"> 
         
        <!--Navegador escritorio-->
        <ul class="tabs-center right hide-on-med-and-down" id="navEscritorio">
            <li><a href="#" class="waves-effect waves-light btn-fla">
                <i class="material-icons left">flag</i>Inicio</a>
            </li> 
            <li><a href="#" class="waves-effect waves-light btn-fla">
                <i class="material-icons left">business</i>Polisurco</a>
            </li> 
            <li><a href="#" class="waves-effect waves-light btn-fla">
                <i class="material-icons left">school</i>Oferta Académica</a>
            </li> 
            <li><a href="#" class="waves-effect waves-light btn-fla">
                <i class="material-icons left">assignment</i>Admisiones</a>
            </li> 
            <li><a href="#" class="waves-effect waves-light btn-fla">
                <i class="material-icons left">contacts</i>Contactos</a>
            </li> 
         </ul>

          <!--NAVEGADOR MOVIL-->
          <ul id="nav-mobile" class="sidenav navMov" >
            <li>
                <a href="#" id="logo-container" class="sidenav-close waves-effect" >
                <img src="img/RotriLogoS-08.png" alt="Logo" id="logoMov">
                </a>
            </li> 
                <li><a href="#" class="sidenav-close waves-effect" >
                    <i class="material-icons left">flag</i>Inicio</a>
                </li> 
                <li><a href="#" class="sidenav-close waves-effect" >
                    <i class="material-icons left">business</i>El Polisurco</a>
                </li> 
                <li><a href="#" class="sidenav-close waves-effect" >
                    <i class="material-icons left">school</i>Oferta Acdemica</a>
                </li> 
                <li><a href="#" class="sidenav-close waves-effect" >
                    <i class="material-icons left">assignment</i>Admisiones</a>
                </li> 
                <li><a href="#" class="sidenav-close waves-effect" >
                    <i class="material-icons left">contacts</i>Contactos</a>
                </li> 
           </ul>
           <a href="#" data-target="nav-mobile" class="sidenav-trigger">
               <i class="material-icons">dialpad</i></a>
    </div>
</nav>
