<header>
    <br>
    <div class="container">
        <div class="row">
           <div class="col s12 m4 l4">
            <audio controls autoplay> 
                <source src="http://giss.tv:8001/polisurco.mp3"  type="audio/ogg" /> 
            </audio> 
           </div> 
           <div class="col s12 m4 l4">
               <h4>Escuchas Polisurco Vibra Digital.</h4>
           </div>
           <div class="col s12 m4 l4">
            <ul> 
                <a class="btn-floating pulse" href="https://www.instagram.com/rotri_reposteria/"
                id="cDos" target="_blank"><i class="material-icons">
                    <img src="../../../assets/img/intagram.png" alt="IN"></i>
                </a>
                <a class="btn-floating pulse" href="https://www.facebook.com/RotriReposteria/"
                id="cDos" target="_blank"><i class="material-icons">
                    <img src="../../../assets/img/fb.png" alt="FB"></i>
                </a>
                <a class="btn-floating pulse" href="https://wa.me/573214544853?text=Me%20interesa%20el%20producto%20que%20estás%20vendiendo"
                id="cDos" target="_blank"><i class="material-icons">
                    <img src="../../../assets/img/wh.png" alt="Wh"></i>
                </a>
              </ul>
           </div>
        </div>
       
    </div>
     <div class="container">
            <div class="row">
                <div class="col s8">
                    <h1>Politecnico del sur de Colombia SAS</h1>
                </div>
                <div class="col s4">
                    <p>Cartagena del chairá Caquetá</p>
                </div>
            </div>
        </div>
</header>
