<header *ngFor="let urls of urlsServicesService.urls">
    <br>
    <div class="container">
        <div class="row">
            <!--EMISORA-->
           <div class="col s12 m3 10" id="emisora">
            <h4>Escuchas Polisurco Vibra Digital.</h4><br>
            <audio controls autoplay> 
                <source src="http://giss.tv:8001/polisurco.mp3"  type="audio/ogg" /> 
            </audio> 
           </div> 
            <!--TITLE H1-->
            <div class="col s12 m6 10">
            <h1>Politecnico del sur de Colombia S.A.S 
            <h5> Soluciones Educativas<br>Cartagena del Chairá Caquetá</h5>
            </h1>
            <h6>{{urls.correo}}</h6>
            </div>
            <!--BOTONES REDES SOCIALES-->
           <div class="col s12 m3 10">
               <h6>Redes Sociales</h6>
            <ul> 
                <a class="btn-floating pulse" href="{{urls.instagram}}"
                id="cDos" target="_blank"><i class="material-icons">
                    <img src="../../../assets/img/intagram.png" alt="IN"></i>
                </a>
                &nbsp;
                <a class="btn-floating pulse" href="{{urls.facebook}}"
                id="cDos" target="_blank"><i class="material-icons">
                    <img src="../../../assets/img/fb.png" alt="FB"></i>
                </a>
                &nbsp;
                <a class="btn-floating pulse" href="https://wa.me/573235747527?text=Me%20Interesa%20Realizar%20Mis%20Estudios%20En%20El%20Polisurco"
                id="cDos" target="_blank"><i class="material-icons">
                    <img src="../../../assets/img/wh.png" alt="Wh"></i>
                </a>
              </ul>
           </div>
        </div>
    </div>
</header>
