<header>
    <br>
    <div class="container">
        <div class="row">
           <div class="col s12 m4 l4">
            <audio controls autoplay> 
                <source src="http://giss.tv:8001/polisurco.mp3"  type="audio/ogg" /> 
            </audio> 
           </div> 
           <div class="col s12 m4 l4">
               <h4>Escuchas Polisurco Vibra Digital.</h4>
           </div>
           <div class="col s12 m4 l4">
            <ul> 
                <a class="btn-floating pulse" href="https://www.instagram.com/rotri_reposteria/"
                id="cDos" target="_blank"><i class="material-icons">
                    <img src="../../../assets/img/intagram.png" alt="IN"></i>
                </a>
                &nbsp;
                <a class="btn-floating pulse" href="https://www.facebook.com/Polisurco-Cartagena-del-Chair%C3%A1-107507664334060"
                id="cDos" target="_blank"><i class="material-icons">
                    <img src="../../../assets/img/fb.png" alt="FB"></i>
                </a>
                &nbsp;
                <a class="btn-floating pulse" href="https://wa.me/573235747527?text=Me%20Interesa%20Realizar%20Mis%20Estudios%20En%20El%20Polisurco"
                id="cDos" target="_blank"><i class="material-icons">
                    <img src="../../../assets/img/wh.png" alt="Wh"></i>
                </a>
              </ul>
           </div>
        </div>
        <div class="row">
            <div class="col s8">
                <h1>Politecnico del sur de Colombia S.A.S <br> Soluciones Educativas</h1>
                
            </div>
            <div class="col s4">
                <p>Cartagena del Chairá Caquetá</p>
            </div>
        </div>
    </div>
</header>
