<!--SOBRE NOSOTROS-->
<div class="container">
    <div class="row">
        <div class="col s12 m12">
          <div class="card white-grey darken-1">
            <div class="card-content black-text">
              <span class="card-title"><h4><b>SOBRE NOSOTROS</b></h4></span>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
          </div>
        </div>
    </div>
</div>

<div class="container">

  <!--Collapsible el poli-->
  <ul class="collapsible popout">

    <!--QUIENES SOMOS-->
    <li>
      <div class="collapsible-header">
          <i class="material-icons">bookmark</i>
          <h4><b>Quienes somos</b></h4>
      </div>
      <div class="collapsible-body">

          <!--TABLA QUIENES SOMOS-->
        <ul>
          <div class="card">
              <div class="card-content">
              <h5><b>Mision</b></h5>
                <blockquote>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit impedit 
                    inventore cupiditate placeat laudantium, et explicabo amet est illum officiis totam rem 
                    non! Dolore maiores qui repellendus, commodi ut, aut perferendis suscipit modi sequi earum 
                    et debitis, illo omnis itaque.
                  </blockquote>
              </div>
              <div class="card-content">
                <h5><b>Vision</b></h5>
                  <blockquote>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit impedit 
                      inventore cupiditate placeat laudantium, et explicabo amet est illum officiis totam rem 
                      non! Dolore maiores qui repellendus, commodi ut, aut perferendis suscipit modi sequi earum 
                      et debitis, illo omnis itaque.
                    </blockquote>
              </div>
              <div class="card-content">
                <h5><b>Historia</b></h5>
                  <blockquote>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit impedit 
                      inventore cupiditate placeat laudantium, et explicabo amet est illum officiis totam rem 
                      non! Dolore maiores qui repellendus, commodi ut, aut perferendis suscipit modi sequi earum 
                      et debitis, illo omnis itaque.
                    </blockquote>
              </div>
            </div>
          </ul>
      </div>
    </li>

    <!--SIMBOLOS-->

    <li class="card">
      <div class="collapsible-header">
          <i class="material-icons">beenhere</i>
          <h4><b>Simbolos</b></h4>
      </div>

      <!--TABLA SIMBOLOS-->

      <div class="collapsible-body">
          <h5><b>Himno</b></h5>
          <blockquote>Lorem ipsum dolor sit amet consectetur.</blockquote>

          <div class="row">
            <div class="col s12 m5">
              <div class="card">
                <div class="card-image">
                  <img src="images/sample-1.jpg">
                  <span class="card-title">Card Title</span>
                </div>
              </div>  
            </div>
          </div>  
          <div class="row">
            <div class="col s12 m5">
              <div class="card">
                <div class="card-image">
                  <img src="images/sample-1.jpg">
                  <span class="card-title">Card Title</span>
                </div>
              </div>  
            </div>
          </div>  
        
      </div>  
    </li>

  </ul>
  </div>