<!--Sección footer-->
     
<footer class="page-footer" id="cUno" *ngFor="let urls of url.urls">
    <div class="container">
      <div class="row">
        <div class="col s12 m4 l4">
          <h5 class="white-text" id="Contactos">Contactos</h5>
          <p class="grey-text text-lighten-4">{{urls.correo}}</p>
        </div>
        <div class="col s12 m4 l4">            
          <h5 class="white-text">Redes sociales</h5>
          <ul> 
            <a class="btn-floating pulse" href="{{urls.instagram}}"
            id="cDos" target="_blank"><i class="material-icons">
                <img src="../../../assets/img/intagram.png" alt="IN"></i>
            </a>
            &nbsp;
            <a class="btn-floating pulse" href="{{urls.facebook}}"
            id="cDos" target="_blank"><i class="material-icons">
                <img src="../../../assets/img/fb.png" alt="FB"></i>
            </a>
            &nbsp;
            <a class="btn-floating pulse" href="https://wa.me/573235747527?text=Me%20Interesa%20Realizar%20Mis%20Estudios%20En%20El%20Polisurco"
            id="cDos" target="_blank"><i class="material-icons">
                <img src="../../../assets/img/wh.png" alt="Wh"></i>
            </a>
          </ul>
        </div>
        <div class="col s12 m4 l4">
          <iframe 
           src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3452.4013835312253!2d-74.8488925578207!3d1.331335487776614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e23f17a1687534b%3A0xb26fedc75fe3ca5a!2sPOLISURCO!5e0!3m2!1ses!2sco!4v1592351010405!5m2!1ses!2sco" 
                frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0">
              </iframe>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col s12 m6 l9">
            © {{year}} Todos los derechos reservados.
          </div>
          <div class="col s12 m6 l3">
            <a href="{{urls.desarrolladores}}"
            class="waves-effect waves-light" target="_blank"><b>By Hornet</b></a>
           </div>
        </div>
      </div>
    </div>
  </footer>